<div class="frame2" style="background-color: transparent;">
    
    <h2>About</h2>
    
    <div class="smaller">
    <p>This is Uika Hosomichi's web applicatioin portfolio in the Ruby programming language.
    Please log in with sample IDs and PWs below to browse its functions, contents on it are all fiction though.
    </p>
    <p>-----</p>
    <p>ID / PW : Account name ;</p>
    <p>aaa@aaa.com/ aaaaaa : Uika ;</p>
    <p>bbb@bbb.com/ bbbbbb : Mary ;</p>
    <p>ccc@ccc.com/ cccccc : Dev ;</p>
    <p>-----</p>
     </div>
    
    
    <div class="smaller">
<p class="gnav_menu_backbutton"><a href="/newinfos">News</a> : 
Click one of news and try a post/delete comment function.</p>

<p class="gnav_menu_backbutton"><a href="/papers">Outcomes</a> : 
There is a search box. Put a word there, an author name/a word of subtitles, and search papers.</p>
    
<p class="gnav_menu_backbutton"><a href="/members">Members</a> : 
Edit member info. You can move a member name from "Member" list to "Seniors" when you add a date of graduation of the lab.</p>
   </div>
    
</div>