
<div class="tpimg">
<div class="tpimg_rayer">
<div class="tpimg_message">
<!--- Ruby on Rails でのWebアプリケーション構築で、よりスムーズな情報共有と、スマートな情報管理を目指します。--->
<p><font>Welcome to Uika Hosomichi's Web site!</font></p>
<p>I create web applications with Ruby to realise smoother sharing of information and smarter management of it.</p>
</div>

    <div class="frame4" style="background-color: transparent;">  
  
        <h2></h2>

         
        <div class="parent">
            <% @projects.each do |project| %> 
                <% end %>
        </div><!---parent--->
          
        <div class="pagenate">
        </div>     
          
    </div>

</div>
</div>
