
<div class="tpimg">
<div class="tpimg_rayer">
<p style="margin-top: 90px; font-size: 20px; color:#00ced1; line-height: 2em; text-align: center; background-color:rgba(0, 0, 0, 0.6);">
Ruby on RailsのWebアプリケーションで、研究室の情報共有をよりスムーズに、情報管理をもっとスマートに。
</p>

    <div class="frame4" style="background-color: transparent;">  
  
        <h2></h2>

         
        <div class="parent">
            <% @projects.each do |project| %> 
                <% end %>
        </div><!---parent--->
          
        <div class="pagenate">
        </div>     
          
    </div>

</div>
</div>
