<div class="frame3" style="background-color: transparent;">  

<div class="contents row"> <div class="success">
<h3> 削除が完了しました。
</h3>
<a class="btn" href="https://5880f51288a5409a8268120a387f467a.vfs.cloud9.ap-northeast-1.amazonaws.com/papers">投稿一覧へ戻る</a> </div>
</div>

</div>