<div class="frame3" style="background-color: transparent;">  

<div class="contents row"> <div class="success">
<h3> Deleted
</h3>
<a class="btn" href="/papers">Return to Papers List</a> </div>
</div>

</div>