html {
    font-family: sans-serif;
    /**serif;**/
    /**"yuGothic",**/
    
    /**box-sizing: border-box; **/
}

body {
    margin: 0;         /* 余白の削除 */
    padding: 0;        /* 余白の削除 */
    width:100%;
    height:100%;
    color: #333;
    font-size: 12pt;
}

a { text-decoration: none; }
ul{ list-style: none;}

/**@media screen and (max-width: 1024px) {}
　/* 1024pxまでの幅の場合に適応される */


/*@media screen and (min-width: 770px)  タブレット縦769px以上*/

.smaller{
    font-size: smaller;
    line-height: 18px;
}

.small{
    font-size: small;
}


a {
 word-break: break-all;
}

/* header */
header {font-family: serif;
    height: 90px;
    width: 100%;
    /***background-color:#ffc0cb;/***ピンク***/
    /***background-color: #fff;***/
    background-color:rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    z-index: 1;
}

.header_area {
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    /****background-color: #87cefa;水色***/
}

.logo {
    height: 100%;
    float: left;
    width: 40%;
    margin: 0 0 0 5px;
    font:serif;
}
/**.logo1, .logo2 {
    height:50%;}**/
.logo1{
    height:40px;
    display: table-cell;
    vertical-align: bottom;
}
.logo1 p{margin: 2px 0 3px 0px;
    font-size:15px;
}
.logo2 a {color:#333;
}



.gnav {
    float: right;
    height: 100%;
    width: 55%;
    padding-right: 0px;
    font-weight: bold;
    font-size: 13pt;
    /***background-color: #fff000;***/
}
.access, .user, .gnav_menu{
    height: 21px;
    margin: 3px 3px;
    text-align: right;
}
.user  {
    font-family: sans-serif;
     border-radius:2px;
    color: #fff;
    /* font-size: 16px; */
    margin-top: 8px;
    padding: 4px;
    font-weight: lighter;
}
.user a { 
    color: #a2a2a2; /***#61CBE2;***/
    font-size:13px;
    list-style: none;
}
.user a font{
    font-family: sans-serif;
    padding: 4px;
    border-radius:2px;
    color: #fff;
    font-weight: lighter;
}
.access a:hover, .user a:hover {color: #00ced1;
}


@media (max-width: 767px){
	.gnav_menu{
		display: none;}
	}
	

.gnav_menu ul{
    display: flex;
    list-style: none;
    float: right;
    margin: 3px;
}
.gnav_menu li {
    margin-left: 20px;
}
.gnav_menu li a {
    color: #333; /**#009bbf;**/
}
.gnav_menu li a:hover {
    color: #00ced1;/**#1900BC;**/
}



.gnav_menu li ul{   /* ※A */
   width: 90px; /* メニュー1項目の横幅(135px) */
   /* border-top: 1px solid pink; 項目上側の枠線(ピンク色で1pxの実線) */
   list-style: none;
   padding:0;
   margin-left: -23px;
}

ul ul {
magin:0;
  visibility: hidden;
  opacity: 0;
  transition: .2s ease-in-out;
}

ul li:hover > ul {
 visibility: visible;
 opacity: 1;
}

.gnav_menu li ul li {
    text-align: start;
    width: 130px;
    background-color: rgba(255, 255, 255, 0.8);
/**background-color: #e0ffff;**/
}
.gnav_menu li ul li a {
   line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
   text-align: left;    /* 文字列の配置(左寄せ) */
   padding-left: 0px;   /* 文字列前方の余白() */
   font-weight: bold; /* 太字 */
}
.gnav_menu li ul li a:hover {
   /*background-color: #ffff80; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
   color: #00ced1;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
}







.wrapper{
    /*background-color:#f3f3f3;*/
    height: 100%;
    min-height: calc(100vh-90px);
    width: 100%;
    position: relative;/*←相対位置*/
    padding-bottom: 0px;/*←footerの高さ*/
    box-sizing: border-box;
}

.contents{
    background-color:#f3f3f3;
    width:100%;
    min-height: calc(100vh - 90px);
    /**line-height: 1.6;
    margin: 0 auto;
    padding-top: 20px;
    width: 800px;**/
}

.frame1, .frame2, .frame3{
    max-width: 1024px;
    margin: 0 auto;
    padding: 90px 6px 90px 6px;
    box-sizing: border-box;
    min-height: 100vh;
}

/***show***/
.show{
    margin: 0px 0px 20px 10px ;
}

/***top***/
.frame1{
    text-align: center;
    width: 100vw;
    background-image: url("https://www.grips.ac.jp/cms/wp-content/themes/grips2014sp6/common/img/top/bannerBG.jpg"); 
    background-size: cover;
    background-position: bottom;
    opacity: 0.8;
}

.frame3{height: auto;}


h2 {font-weight: normal;
    font-family: serif;
}
h3{font-size: 13pt;}



.user_search form{
margin: 20px, 0, 10px, 0;
}

/******/
.my_area span{
    display: inline-block;
    vertical-align: top;
    padding-bottom:3px;
}
.my_name{
}
.my_button{
    margin-top: 7px;
    margin-left: -60px;
}
.my_button ul{
    margin-top: -10px;
    list-style: none;
}
.my_button ul li a{
    color: #4682b4;
    font-family: sans-serif;
}
.my_button ul li ul {
margin-left: -23px;
}
.my_button ul li ul li {
float:left;
padding: 0 5px 0 5px;
wiidth: 40px;
}



.my-nav, .my-nav2{
 padding:4px;
 font-family:sans-serif;
 color:#86B0D2; 
 background:#fff; 
 border-radius:3px;   
}

.my-nav2{
    color: #5DAEF1;
 padding:3px;
 border-radius:7px;   
}


.my_button_show ul{
    list-style: none;
}
.my_button_show ul li{
    padding: 5px 0 5px 0;
    margin: 0 0 0 -40px;
}

.my_button_show ul li a{
 padding:4px;
 font-size: smaller;
 font-family:sans-serif;
 color:#4682b4; 
 background:#fff; 
 border-radius:3px; 
}


.search_area{
    margin: 0 0 30px 20px;
}
.search{
    margin-bottom: 10px;
}

.user_submit
{margin: 10px 0 0 0px;
text-align: right;
}


.gnav_menu_backbutton{
    margin: 10px 0 20px 0px;
}
.gnav_menu_backbutton a {
font-family: serif;
 padding:4px;
 color:#333;
 font-size: large;
 font-weight: bold;
 background:#fff; 
 border-radius:3px; 
}

.gnav_menu_backbutton a:hover {
    color: #00ced1;/**#1900BC;**/
}




/***projects***/

.tpimg, .tpimg_rayer{
  /**background-position: center center;**/
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 90px);
  }

.tpimg{
    background-image: url("https://cdn.pixabay.com/photo/2017/10/04/09/56/chemist-2815640__480.jpg");
}
.tpimg_rayer{
    
      background-color: rgba(255, 255, 255, 0.1);

      
}

.tpimg_message{
margin-top: 90px;
padding: 20px 0;

text-align: center; 
/*background-color:rgba(0, 0, 0, 0.4);*/
/*background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));*/
background:linear-gradient(rgba(59, 59, 59, 0.7), rgba(0, 0, 0, 0));


}

.tpimg_message p{
margin: 0;
font-family: serif;
font-size: 17px; 
color:#00ced1; 
line-height: 24px;     
}

.tpimg_message font{
font-size: 22px;     
}

/***news***/

.newinfos{
    line-height: 0.6em;
}
table {
    width:100%;
    height:0;
    /**background-color:#fff ; /***#eaf4fc #e3e9f1;***/
    margin-bottom: 0px;

border-collapse: collapse;
vertical-align: middle;
text-align: left;
}

table p{margin:0}

table, td, th {margin-top:5px;
    border-bottom: #b3b3b3 1px solid;
     vertical-align: bottom;
}


.td1{ 
    width: 100px;
    padding-top:10px;
    padding-left: 10px;
}/***日付***/

.td1 p{
    font-size: smaller;
    font-weight: normal;
    color: #ed6d3d;
}
.td2{ 
    width: 900px;
    padding-top:10px;
    padding-right:5px;
    line-height: 1.3em;
    /**font-family: sans-serif;**/
    font-weight: lighter;

}

.td2 a{
    color: #555;
}
    
.td2 a:hover {
    color: #00ced1;
}

.newinfo_img{
 
  position: relative;
  width: 300px;
  height: 200px;
  /*border: 1px solid black;*/
  /*margin: 0 auto;*/
}

.newinfo_img img{
object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;    
}



.comments_container {

box-sizing: border-box;
}
.comments {
padding: 5px; margin-top: 5px; a{
color {
text-decoration: underline; }
} }



/***members***/

.parent{width: 100%;}
.parent div{ margin-top: 5px;
}

.parent {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  /***justify-content: space-around;***/
  flex-wrap: wrap;
  /***width: auto; ***/
  justify-content: flex-start;
  /*** flex-direction: row;***/
}

/***members***/
.members{
 padding: 0px 0 40px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
  
.child {
float: left;
width: 250px;
height: auto;
padding-bottom: 20px;
  background-size:cover;
  background-position:50%;
  position: relative;
font: bold "メイリオ";

}

.b1, .b2, .b3 {margin: 0 auto; }
/***
.b1{background-color: rgba(255,0,0,0.5);}
.b2{background-color: rgba(0,255,0,0.5);}
.b3{background-color: rgba(255,255,0,0.5);}
***/

.mem{
     list-style: none;
     text-align: center;
     width: 256px;
}

.mem p {
    margin: 0;
    padding-top: 5px;
}




/***members frame5***/
.circle1{
    width:  160px;
    height: 140px;
    border: 2px solid #e0ffff;/***#add8e6***/
    border-radius: 50%;
    background-size: cover;
    margin: 0 auto;
}

.photo{
display: inline-block;
}

.role{
  background: -webkit-linear-gradient(left, #add8e6 10%, #ffffe0);
  background: -moz-linear-gradient(left, #add8e6 10%, #ffffe0);
  background: -o-linear-gradient(left, #add8e6 10%, #ffffe0);
  background: linear-gradient(to right, #add8e6 10%, #ffffe0);
    padding: 3px;
}





/***outcomes***/


.carousel { 

    box-sizing: border-box; 
}

.carousel {
  background: #222;
  padding: 20px 0;
}

.carousel-cell {
  width: 100%;
  height: calc(100vh - 380px);
  /***margin-right: 10px;***/
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell-image {
  display: block;
  max-height:100%;
}


.carousel.is-fullscreen .carousel-cell {
  /***max-height: 100%;***/
}

.carousel.is-fullscreen .carousel-cell-image {
  max-height: 100%;
}



/* line 445, /home/ec2-user/environment/ssite01/app/assets/stylesheets/mainstyle.scss */
.pagenate {
  
  margin: 40px 0 20px 0;
  text-align: center;
  float: clear;
}

/* line 450, /home/ec2-user/environment/ssite01/app/assets/stylesheets/mainstyle.scss */
.first a, .prev a, .next a, .last a {
  font-size: small;
  /*枠線をなくす*/
  color: #646464;
}

/* line 456, /home/ec2-user/environment/ssite01/app/assets/stylesheets/mainstyle.scss */
.prev a {
  margin-right: 10px;
}

/* line 457, /home/ec2-user/environment/ssite01/app/assets/stylesheets/mainstyle.scss */
.next a {
  margin-left: 10px;
}

/* line 459, /home/ec2-user/environment/ssite01/app/assets/stylesheets/mainstyle.scss */
.page {
  margin-right: 5px;
  margin-left: 5px;
  color: #00a7db;
  font-weight: bold;

}

/* line 464, /home/ec2-user/environment/ssite01/app/assets/stylesheets/mainstyle.scss */
.page a {
  font-weight: normal;
  color: #646464;

}
/*papers*/

.papers{
padding-top: 5px;
border-bottom: #b3b3b3 2px solid;
line-height: 1em;
font-size: smaller;
}

.papers p{margin: 4px 0;}


.paper_title{
padding: 4px 4px;}



/*footer*/
footer{
    height: 90px;
    width:100%;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/

    background-color:#fff; /**#e0ffff;**/
    text-align: center;
    vertical-align: bottom;
}

footer p {
    font-family: serif;
    font-size: smaller;
    color: #c2c2c2;
}

.foot_note{
    line-height: 0.2;
    margin: 0;
}






/* hamburgerここから */
	/* inputを非表示 */
.input-hidden{
	display: none;
}
	/* label */
.hamburger-demo-switch{
	cursor: pointer;
	position: absolute;
	right: 3%;
	top: 40px; /* ハンバーガーアイコンの位置（上から） */
	z-index: 9999;
	width: 40px; /* アイコン（クリック可能領域）の幅 */
	height: 40px; /* アイコン（クリック可能領域の）高さ */
}
/* メニュー展開時にハンバーガーアイコンを固定 */
#hamburger-demo1:checked ~ .hamburger-demo-switch{
	position: fixed;
}
/* ハンバーガーアイコン */
.hamburger-switch-line1, .hamburger-switch-line1:before, .hamburger-switch-line1:after{
	width: 25px;
	height: 3px;
	background: #333; /* ハンバーガーアイコンの色 */
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .3s;
	content: "";
}
.hamburger-switch-line1{
		transform: translate(-50%, -50%);
}
.hamburger-switch-line1:before{
	transform: translate(-50%, -300%);
}
.hamburger-switch-line1:after{
	transform: translate(-50%, 200%);
}
/* ハンバーガーアイコン･アニメーション */
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1{
	width: 0;
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:before{
	transform: rotate(45deg) translate(-40%, 325%);
}
#hamburger-demo1:checked ~ .hamburger-demo-switch .hamburger-switch-line1:after{
	transform: rotate(-45deg) translate(-40%, -325%);
}
/* メニューエリア */
.hamburger-demo-menuwrap{
	position: fixed;
	height: 100%;
	background: #fafafa; /* メニューエリアの背景色 */
	padding: 5em 3% 2em;
	z-index: 9998;
	transition: .3s;
	overflow-y: scroll; /* メニュー内容が多い場合に縦スクロールする */
	top: 0;
	left: 100%;
	width: 70%;
}
/* メニューリスト */
.hamburger-demo-menulist{
	margin-right: 3%;
	padding-left: 5% !important; /* !important不要な場合もあり */
	list-style: none;
}
.hamburger-demo-menulist li a{
	text-decoration: none;
	color: #333; /* メニューリストの文字色 */
	display: block;
	padding: .5em 0;
}
/* メニューエリア･アニメーション */
	/* 右から */
#hamburger-demo1:checked ~ .hamburger-demo-menuwrap{
	left: 30%;
}
	/* コンテンツカバー */
#hamburger-demo1:checked ~ .hamburger-demo-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9997;
	background: rgba(3,3,3,.5);
	display: block;
}



/* PCではハンバーガーメニューを表示しない*/
@media (min-width: 768px){
	.hamburger-demo-menubox{
		display: none;
	}
	
}


@media screen and (max-width: 413px) {
    
.logo{
    margin: 10px 0 10px 10px;}  


    
.logo2 h1 {
    font-size: 20px;} 
    
.tpimg_message p font {
    font-size: 18px;
    font-weight: bold;
}
}    

