  <div id="news" class="content_inner_white">
    <div class="frame3">
      
        <h2>News</h2>
        
      <div class="parent ">
      <% @newinfos.each do |newinfo| %>
          <div class="Leaderboard">
            <table>
            <tr>
            <th class="td1"><p><%= newinfo.updated_at %></p></th>
            <th class="td2"><a href="<%= newinfo.url %>"><p><%= newinfo.title %></p></a></th>
            </tr>
            </table>
          </div>
          
      <% end %>    
      </div><!---parent--->
      
      <p><a href="">more news>></a></p>

      </div><!---frame3--->
  </div>
  