<div class="frame2" style="background-color: transparent;">  
    
        <div class="user">
        <% if user_signed_in? %>  
          <div class="">
              <span class="user_nav">
                <%= link_to( "/newinfos/new") do %>
                <font style="padding:4px;font-family:sans-serif;color:#fff; background:#86B0D2; border-radius:3px;">
                    submit news</font>
                <% end %>
                
              </span>
          </div>
        <% else %>
          <div class="">
              <span class="user_nav">
                  <p style="font-size:14px; font-family:sans-serif; color:#535353;">Submit news? please log in.</p> 
              </span>
          </div>
        <% end %>
        </div><!---user--->

    <h2>News</h2>

        <div class="parent">
          <% @newinfos.each do |newinfo| %>
          <div class="Leaderboard">
            <table>
            <tr>
            <th class="td1"><p><%= newinfo.updated_at&.strftime('%b %d, %Y') %></p></th>
            
            <th class="td2"><p><%= link_to "#{newinfo.title}", "/newinfos/#{newinfo.id}", method: :get %></p></th>

            </tr>
            </table>
          </div>
          <% end %>  
        </div><!---parent--->
          
        <div class="pagenate">
          <%= paginate(@newinfos) %>
        </div>     
</div><!---frame--->          