<div class="frame2" style="background-color: transparent;">  

<div class="contents row"> <div class="success">
<h3> Deleted
</h3>

    <div class="gnav_menu_backbutton">
          <font style="font-size:smaller; font-weight:noemal;">Return to</font> 
          <a href="/members" >
          Members
          </a>
    </div>


</div>

</div>